<h1>All Products</h1>
 
<% @products.each do |product| %>
<p>
  <b>Name of Product: $</b>
  <%= link_to(product.name, product_path(product)) %>
</p>
<p>
  <b>Price: $</b>
  <%= product.formatted_price %>
</p>
</br>
<% end %>



  