<h1><%= @product.name %></h1>

<p>
  <b>Price: $</b> 
  <%= @product.formatted_price %>
</p>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
</br>

<%= link_to("Edit This Product", edit_product_path) %>